<div class="sec-container">
  <div class="product-container">
    <div class="image-wrapper">
      <img [src]="data.thumbnail" class="fit-image" alt="" />
    </div>
    <div class="description">
      <div class="title">{{ data.title }}</div>
      <div class="price">{{ data.price | currency: "USD" }}</div>

      <div class="action">
        <button mat-flat-button color="primary" (click)="addProductToCart()">
          ADD TO CART
        </button>
      </div>
      <div class="rating">
        <mat-icon>star</mat-icon>
        <span>{{ data.rating }} </span>
      </div>
      <!-- specs -->
      <hr class="hr" />
      <div class="detail-wrapper">
        <p>brand</p>
        <p>{{ data.brand }}</p>
      </div>
      <div class="detail-wrapper">
        <p>description</p>
        <p>{{ data.description }}</p>
      </div>
      <div class="detail-wrapper">
        <p>category</p>
        <p>{{ data.category }}</p>
      </div>
      <div class="detail-wrapper">
        <p>stock</p>
        <p>{{ data.stock }}</p>
      </div>
    </div>
  </div>
</div>
