<!-- <mat-card>
  <div class="image-wrapper" (click)="viewProductDetail()">
    <img [src]="product.thumbnail" class="fit-image" alt="" />
  </div>
  <div class="product-content">
    <div class="price">{{ product.price | currency : 'USD'}}</div>
    <div class="name">{{product.title}}</div>
    <div class="weight">{{product.stock}} left</div>
  </div>
  <div class="actions">
    <button
      mat-mini-fab
      matTooltip="Warn"
      color="primary"
      aria-label="Example mini fab with a heart icon"
    >
      <mat-icon (click)="addProductToCart()">add</mat-icon>
    </button>
  </div>
</mat-card> -->

<div class="card">
  <div class="image-wrapper">
    <img
      class="fit-image"
      [src]="product.thumbnail"
      alt=""
    />
    <div class="title-price">
      <div class="title">{{ product.title }}</div>
      <div class="price">{{ product.price | currency: "USD" }}</div>
    </div>
    <!-- <div class="ribbon"><a href="#">ribbon</a></div> -->
  </div>
  <div class="content">
    <span class="brand">{{ product.brand }}</span>
    <span class="category">{{ product.category }} </span>
  </div>
  <div class="actions">
    <button mat-flat-button color="primary" (click)="addProductToCart()">ADD TO CART</button>
    <button mat-stroked-button color="primary" (click)="viewProductDetail()">DETAILS</button>

  </div>
</div>
